In [104]:
import requests
import os
from mysql.connector import connect, Error, errorcode
from dotenv import load_dotenv; load_dotenv()

True

In [31]:
url = "https://api.stratascratch.com/table-previews/uber_request_logs/?code_type=3"
headers = {
    'Authorization': os.getenv('SS_TOKEN')
}

# mysql
config = {
    'user': os.getenv('USER_'),
    'password': os.getenv('PASSWORD'),
    'host': os.getenv('HOST'),
    'database': 'stratascratch'
}

In [16]:
res = requests.get(url, headers=headers)
res.status_code

200

In [11]:
header = res.json().get('columns')
data = res.json().get('data')
print(f"list of headers: {', '.join(header)}")
print(f"size of data: {len(data)}")

list of headers: request_id, request_date, request_status, distance_to_travel, monetary_cost, driver_to_client_distance
size of data: 20

In [30]:
data_type = ['int', 'date', "enum('fail', 'success')", 'float', 'float', 'float']
columns = zip(header, data_type)
string_cols = ', '.join([f"{col[0]} {col[1]}" for col in columns])
string_cols

"request_id int, request_date date, request_status enum('fail', 'success'), distance_to_travel float, monetary_cost float, driver_to_client_distance float"

In [35]:
data[0]

[1, '2020-01-09', 'success', 70.59, 6.56, 14.36]

In [48]:
with connect(**config) as conn:
    if conn.is_connected():
        print(f"{config['database']} is connected...")

    with conn.cursor() as cur:
        # drop table if already exists
        cur.execute(
            "DROP TABLE IF EXISTS uber_request_logs;"
        )

        # create new table
        cur.execute(
            "CREATE TABLE uber_request_logs(" + string_cols + ");"
        )

        # insert data into table
        cur.executemany(
            "insert into uber_request_logs values (%s, %s, %s, %s, %s, %s)", data
        )

    conn.commit()

stratascratch is connected...

## [StrataScratch] Distance Per Dollar
You’re given a dataset of uber rides with the traveling distance (‘distance_to_travel’) and cost (‘monetary_cost’) for each ride. First, find the difference between the distance-per-dollar for each date and the average distance-per-dollar for that year-month. Distance-per-dollar is defined as the distance traveled divided by the cost of the ride. Use the calculated difference on each date to calculate absolute average difference in distance-per-dollar metric on monthly basis (year-month).


--The output should include the year-month (YYYY-MM) and the absolute average difference in distance-per-dollar (Absolute value to be rounded to the 2nd decimal).
You should also count both success and failed request_status as the distance and cost values are populated for all ride requests. Also, assume that all dates are unique in the dataset. Order your results by earliest request date first.

In [38]:
%load_ext sql

In [131]:
%sql mysql+pymysql://{config['user']}:{config['password']}@{config['host']}/{config['database']}

In [49]:
%%sql
select * from uber_request_logs;

 * mysql+pymysql://github:***@localhost/stratascratch
20 rows affected.

[(1, datetime.date(2020, 1, 9), 'success', 70.59, 6.56, 14.36),
 (2, datetime.date(2020, 1, 24), 'success', 93.36, 22.68, 19.9),
 (3, datetime.date(2020, 2, 8), 'fail', 51.24, 11.39, 21.32),
 (4, datetime.date(2020, 2, 23), 'success', 61.58, 8.04, 44.26),
 (5, datetime.date(2020, 3, 9), 'success', 25.04, 7.19, 1.74),
 (6, datetime.date(2020, 3, 24), 'fail', 45.57, 4.68, 24.19),
 (7, datetime.date(2020, 4, 8), 'success', 24.45, 12.69, 15.91),
 (8, datetime.date(2020, 4, 23), 'success', 48.22, 11.2, 48.82),
 (9, datetime.date(2020, 5, 8), 'success', 56.63, 4.04, 16.08),
 (10, datetime.date(2020, 5, 23), 'fail', 19.03, 16.65, 11.22),
 (11, datetime.date(2020, 6, 7), 'fail', 81.0, 6.56, 26.6),
 (12, datetime.date(2020, 6, 22), 'fail', 21.32, 8.86, 28.57),
 (13, datetime.date(2020, 7, 7), 'fail', 14.74, 17.76, 19.33),
 (14, datetime.date(2020, 7, 22), 'success', 66.73, 13.68, 14.07),
 (15, datetime.date(2020, 8, 6), 'success', 32.98, 16.17, 25.34),
 (16, datetime.date(2020, 8, 21), 'success', 46.49, 1.84, 41.9),
 (17, datetime.date(2020, 9, 5), 'fail', 45.98, 12.2, 2.46),
 (18, datetime.date(2020, 9, 20), 'success', 3.14, 24.8, 36.6),
 (19, datetime.date(2020, 10, 5), 'success', 75.33, 23.04, 29.99),
 (20, datetime.date(2020, 10, 20), 'success', 53.76, 22.94, 18.74)]

In [66]:
%%sql
with cte as (
    select
        date_format(request_date, '%Y-%m') as request_mnth
        ,distance_to_travel / monetary_cost as dist_to_cost
        ,avg(distance_to_travel / monetary_cost) over (partition by extract(year_month from request_date)) as monthly_dist_to_cost
    from uber_request_logs
    )
select
    request_mnth
    ,avg(abs(monthly_dist_to_cost - dist_to_cost))
from cte
group by request_mnth

 * mysql+pymysql://github:***@localhost/stratascratch
10 rows affected.

[('2020-01', 3.322134089697947),
 ('2020-02', 1.580260588554704),
 ('2020-03', 3.1272824684064124),
 ('2020-04', 1.1893216266731585),
 ('2020-05', 6.437192059522662),
 ('2020-06', 4.9706202413760785),
 ('2020-07', 2.0239845909045378),
 ('2020-08', 11.61336268573678),
 ('2020-09', 1.8211197845330733),
 ('2020-10', 0.4630132660808075)]

## DISTINCT SALARIES
Find the top three distinct salaries for each department. Output the department name and the top 3 distinct salaries by each department. Order your results alphabetically by department and then by highest salary to lowest.

In [68]:
res = requests.get(
    url="https://api.stratascratch.com/table-previews/twitter_employee/?code_type=3"
    ,headers=headers
)
res.status_code

200

In [73]:
data = [(x[0], x[6], x[7]) for x in res.json()['data']]
data[:5]

[(1, 'Management', 200000),
 (13, 'Management', 150000),
 (19, 'Management', 100000),
 (11, 'Management', 250000),
 (10, 'Sales', 100000)]

In [81]:
table_name = 'twitter_employee'
with connect(**config) as conn:
    if conn.is_connected():
        print(f"{config['database']!r} is connected")

    with conn.cursor() as cur:
        cur.execute(f'drop table if exists {table_name};')

        # create table
        cur.execute(
            f"create table {table_name} ("
            "   id int not null,"
            "   department varchar(15) not null,"
            "   salary int not null"
            ");"
        )

        cur.executemany(f'insert into {table_name} values (%s, %s, %s)', data)

        cur.execute(f'select * from {table_name} limit 5;')
        print(*cur.fetchall())

    conn.commit()

'stratascratch' is connected
(1, 'Management', 200000) (13, 'Management', 150000) (19, 'Management', 100000) (11, 'Management', 250000) (10, 'Sales', 100000)

In [85]:
%%sql
select
    distinct department
    ,salary
from (
    select
        department
        ,salary
        ,dense_rank() over (partition by department order by salary desc) as ranking
    from twitter_employee
    ) salary_ranking
where ranking < 4
order by
    department
    ,salary desc;

 * mysql+pymysql://github:***@localhost/stratascratch
9 rows affected.

[('Audit', 110000),
 ('Audit', 100000),
 ('Audit', 70000),
 ('Management', 250000),
 ('Management', 200000),
 ('Management', 150000),
 ('Sales', 220000),
 ('Sales', 200000),
 ('Sales', 150000)]

## Top Percentile Fraud
ABC Corp is a mid-sized insurer in the US and in the recent past their fraudulent claims have increased significantly for their personal auto insurance portfolio. They have developed a ML based predictive model to identify propensity of fraudulent claims. Now, they assign highly experienced claim adjusters for top 5 percentile of claims identified by the model.

Your objective is to identify the top 5 percentile of claims from each state. Your output should be policy number, state, claim cost, and fraud score.

In [86]:
res = requests.get(
    url="https://api.stratascratch.com/table-previews/fraud_score/?code_type=3",
    headers=headers
)
res.status_code

200

In [105]:
columns = dict(zip(res.json()['columns'], ['char(8)', 'char(2)', 'int', 'float']))
columns

{'policy_num': 'char(8)',
 'state': 'char(2)',
 'claim_cost': 'int',
 'fraud_score': 'float'}

In [102]:
', '.join([f'{x} {y}' for x, y in columns.items()])

'policy_num char(8), state char(2), claim_cost int, fraud_score float'

In [107]:
with connect(**config) as conn:
    if conn.is_connected(): print('db connected')

    with conn.cursor() as cur:
        try:
            cur.execute(
                "create table fraud_score (" \
                    + ', '.join([f'{x} {y}' for x, y in columns.items()]) + ");"
            )

        except Error as err:
            if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
                print('already exists')

                # if exists, delete current data
                cur.execute('truncate table fraud_score;')

            else: print(err.msg)

        # then insert data into the table
        cur.executemany(
            "insert into fraud_score values (%s, %s, %s, %s)", res.json()['data']
        )

    conn.commit()

db connected
already exists

In [108]:
%%sql
select * from fraud_score limit 5;

 * mysql+pymysql://github:***@localhost/stratascratch
5 rows affected.

[('ABCD1001', 'CA', 4113, 0.613),
 ('ABCD1002', 'CA', 3946, 0.156),
 ('ABCD1003', 'CA', 4335, 0.014),
 ('ABCD1004', 'CA', 3967, 0.142),
 ('ABCD1005', 'CA', 1599, 0.889)]

In [110]:
%%sql
select
    state
    ,count(policy_num)
from fraud_score
group by state

 * mysql+pymysql://github:***@localhost/stratascratch
4 rows affected.

[('CA', 99), ('NY', 100), ('FL', 100), ('TX', 101)]

In [113]:
%%sql
select
    policy_num
    ,state
    ,claim_cost
    ,fraud_score
from (
    select
        *
        ,percent_rank() over (partition by state order by fraud_score desc) pct
    from fraud_score
    ) score_ranking
where pct <= 0.05

 * mysql+pymysql://github:***@localhost/stratascratch
21 rows affected.

[('ABCD1027', 'CA', 2663, 0.988),
 ('ABCD1016', 'CA', 1639, 0.964),
 ('ABCD1079', 'CA', 4224, 0.963),
 ('ABCD1081', 'CA', 1080, 0.951),
 ('ABCD1069', 'CA', 1426, 0.948),
 ('ABCD1222', 'FL', 2392, 0.988),
 ('ABCD1218', 'FL', 1419, 0.961),
 ('ABCD1291', 'FL', 2581, 0.939),
 ('ABCD1230', 'FL', 2560, 0.923),
 ('ABCD1277', 'FL', 2057, 0.923),
 ('ABCD1189', 'NY', 3577, 0.982),
 ('ABCD1117', 'NY', 4903, 0.978),
 ('ABCD1187', 'NY', 3722, 0.976),
 ('ABCD1196', 'NY', 2994, 0.973),
 ('ABCD1121', 'NY', 4009, 0.969),
 ('ABCD1361', 'TX', 4950, 0.999),
 ('ABCD1304', 'TX', 1407, 0.996),
 ('ABCD1398', 'TX', 3191, 0.978),
 ('ABCD1366', 'TX', 2453, 0.968),
 ('ABCD1386', 'TX', 4311, 0.963),
 ('ABCD1363', 'TX', 4103, 0.96)]

In [115]:
%%sql
with cte as (
    select
        *
        ,ntile(100) over (partition by state order by fraud_score desc) as percentile
    from fraud_score
)
select
    policy_num
    ,state
    ,claim_cost
    ,fraud_score
from cte
where percentile <= 5

 * mysql+pymysql://github:***@localhost/stratascratch
21 rows affected.

[('ABCD1027', 'CA', 2663, 0.988),
 ('ABCD1016', 'CA', 1639, 0.964),
 ('ABCD1079', 'CA', 4224, 0.963),
 ('ABCD1081', 'CA', 1080, 0.951),
 ('ABCD1069', 'CA', 1426, 0.948),
 ('ABCD1222', 'FL', 2392, 0.988),
 ('ABCD1218', 'FL', 1419, 0.961),
 ('ABCD1291', 'FL', 2581, 0.939),
 ('ABCD1230', 'FL', 2560, 0.923),
 ('ABCD1277', 'FL', 2057, 0.923),
 ('ABCD1189', 'NY', 3577, 0.982),
 ('ABCD1117', 'NY', 4903, 0.978),
 ('ABCD1187', 'NY', 3722, 0.976),
 ('ABCD1196', 'NY', 2994, 0.973),
 ('ABCD1121', 'NY', 4009, 0.969),
 ('ABCD1361', 'TX', 4950, 0.999),
 ('ABCD1304', 'TX', 1407, 0.996),
 ('ABCD1398', 'TX', 3191, 0.978),
 ('ABCD1366', 'TX', 2453, 0.968),
 ('ABCD1386', 'TX', 4311, 0.963),
 ('ABCD1363', 'TX', 4103, 0.96)]

## GROWTH OF AIRBNB
Estimate the growth of Airbnb each year using the number of hosts registered as the growth metric. The rate of growth is calculated by taking ((number of hosts registered in the current year - number of hosts registered in the previous year) / the number of hosts registered in the previous year) * 100.

Output the year, number of hosts in the current year, number of hosts in the previous year, and the rate of growth. Round the rate of growth to the nearest percent and order the result in the ascending order based on the year.

Assume that the dataset consists only of unique hosts, meaning there are no duplicate hosts listed.

In [122]:
res = requests.get(
    url='https://api.stratascratch.com/table-previews/airbnb_search_details/?code_type=3',
    headers=headers
)
res.status_code

200

In [129]:
# select headers
res.json()['columns'] # id-0, host_since-13

# res.json()['columns'].index('host_since')

['id',
 'price',
 'property_type',
 'room_type',
 'amenities',
 'accommodates',
 'bathrooms',
 'bed_type',
 'cancellation_policy',
 'cleaning_fee',
 'city',
 'host_identity_verified',
 'host_response_rate',
 'host_since',
 'neighbourhood',
 'number_of_reviews',
 'review_scores_rating',
 'zipcode',
 'bedrooms',
 'beds']

In [130]:
with connect(**config)as conn:
    with conn.cursor() as cur:
        try:
            cur.execute(
                "create table airbnb_search_details (id int, host_since date);"
            )
        except Exception as e:
            print(e)

        cur.executemany(
            "insert into airbnb_search_details values (%s, %s)",
            [(x[0], x[13]) for x in res.json()['data']]
        )

    conn.commit()

In [132]:
%%sql
select * from airbnb_search_details limit 5;

 * mysql+pymysql://github:***@localhost/stratascratch
5 rows affected.

[(12513361, datetime.date(2015, 11, 18)),
 (7196412, datetime.date(2016, 9, 10)),
 (16333776, datetime.date(2013, 12, 26)),
 (1786412, datetime.date(2010, 5, 11)),
 (14575777, datetime.date(2015, 10, 22))]

In [134]:
%%sql
select
    count(*), count(id), count(distinct id)
from airbnb_search_details

 * mysql+pymysql://github:***@localhost/stratascratch
1 rows affected.

[(160, 160, 160)]

In [139]:
%%sql
select
    year(host_since)
    ,count(id) as current_year
    ,lag(count(id)) over (order by year(host_since)) as previous_year
    ,round(((count(id) / lag(count(id)) over (order by year(host_since))) -  1) * 100) as growth
from airbnb_search_details
group by year(host_since)
order by year(host_since)

 * mysql+pymysql://github:***@localhost/stratascratch
9 rows affected.

[(2009, 2, None, None),
 (2010, 4, 2, Decimal('100')),
 (2011, 9, 4, Decimal('125')),
 (2012, 10, 9, Decimal('11')),
 (2013, 30, 10, Decimal('200')),
 (2014, 33, 30, Decimal('10')),
 (2015, 33, 33, Decimal('0')),
 (2016, 28, 33, Decimal('-15')),
 (2017, 11, 28, Decimal('-61'))]

In [119]:
%sql -l

{'mysql+pymysql://github:***@localhost/stratascratch': <sql.connection.Connection at 0x1103ef860>}

In [121]:
%sql -x mysql+pymysql://github:***@localhost/stratascratch