In [13]:
import requests
import os
from mysql.connector import connect
from dotenv import load_dotenv; load_dotenv()

True

In [31]:
url = "https://api.stratascratch.com/table-previews/uber_request_logs/?code_type=3"
headers = {
    'Authorization': os.getenv('SS_TOKEN')
}

# mysql
config = {
    'user': os.getenv('USER_'),
    'password': os.getenv('PASSWORD'),
    'host': os.getenv('HOST'),
    'database': 'stratascratch'
}

In [16]:
res = requests.get(url, headers=headers)
res.status_code

200

In [11]:
header = res.json().get('columns')
data = res.json().get('data')
print(f"list of headers: {', '.join(header)}")
print(f"size of data: {len(data)}")

list of headers: request_id, request_date, request_status, distance_to_travel, monetary_cost, driver_to_client_distance
size of data: 20

In [30]:
data_type = ['int', 'date', "enum('fail', 'success')", 'float', 'float', 'float']
columns = zip(header, data_type)
string_cols = ', '.join([f"{col[0]} {col[1]}" for col in columns])
string_cols

"request_id int, request_date date, request_status enum('fail', 'success'), distance_to_travel float, monetary_cost float, driver_to_client_distance float"

In [35]:
data[0]

[1, '2020-01-09', 'success', 70.59, 6.56, 14.36]

In [48]:
with connect(**config) as conn:
    if conn.is_connected():
        print(f"{config['database']} is connected...")

    with conn.cursor() as cur:
        # drop table if already exists
        cur.execute(
            "DROP TABLE IF EXISTS uber_request_logs;"
        )

        # create new table
        cur.execute(
            "CREATE TABLE uber_request_logs(" + string_cols + ");"
        )

        # insert data into table
        cur.executemany(
            "insert into uber_request_logs values (%s, %s, %s, %s, %s, %s)", data
        )

    conn.commit()

stratascratch is connected...

## [StrataScratch] Distance Per Dollar
You’re given a dataset of uber rides with the traveling distance (‘distance_to_travel’) and cost (‘monetary_cost’) for each ride. First, find the difference between the distance-per-dollar for each date and the average distance-per-dollar for that year-month. Distance-per-dollar is defined as the distance traveled divided by the cost of the ride. Use the calculated difference on each date to calculate absolute average difference in distance-per-dollar metric on monthly basis (year-month).


--The output should include the year-month (YYYY-MM) and the absolute average difference in distance-per-dollar (Absolute value to be rounded to the 2nd decimal).
You should also count both success and failed request_status as the distance and cost values are populated for all ride requests. Also, assume that all dates are unique in the dataset. Order your results by earliest request date first.

In [38]:
%load_ext sql

In [39]:
%sql mysql+pymysql://{config['user']}:{config['password']}@{config['host']}/{config['database']}

In [49]:
%%sql
select * from uber_request_logs;

 * mysql+pymysql://github:***@localhost/stratascratch
20 rows affected.

[(1, datetime.date(2020, 1, 9), 'success', 70.59, 6.56, 14.36),
 (2, datetime.date(2020, 1, 24), 'success', 93.36, 22.68, 19.9),
 (3, datetime.date(2020, 2, 8), 'fail', 51.24, 11.39, 21.32),
 (4, datetime.date(2020, 2, 23), 'success', 61.58, 8.04, 44.26),
 (5, datetime.date(2020, 3, 9), 'success', 25.04, 7.19, 1.74),
 (6, datetime.date(2020, 3, 24), 'fail', 45.57, 4.68, 24.19),
 (7, datetime.date(2020, 4, 8), 'success', 24.45, 12.69, 15.91),
 (8, datetime.date(2020, 4, 23), 'success', 48.22, 11.2, 48.82),
 (9, datetime.date(2020, 5, 8), 'success', 56.63, 4.04, 16.08),
 (10, datetime.date(2020, 5, 23), 'fail', 19.03, 16.65, 11.22),
 (11, datetime.date(2020, 6, 7), 'fail', 81.0, 6.56, 26.6),
 (12, datetime.date(2020, 6, 22), 'fail', 21.32, 8.86, 28.57),
 (13, datetime.date(2020, 7, 7), 'fail', 14.74, 17.76, 19.33),
 (14, datetime.date(2020, 7, 22), 'success', 66.73, 13.68, 14.07),
 (15, datetime.date(2020, 8, 6), 'success', 32.98, 16.17, 25.34),
 (16, datetime.date(2020, 8, 21), 'success', 46.49, 1.84, 41.9),
 (17, datetime.date(2020, 9, 5), 'fail', 45.98, 12.2, 2.46),
 (18, datetime.date(2020, 9, 20), 'success', 3.14, 24.8, 36.6),
 (19, datetime.date(2020, 10, 5), 'success', 75.33, 23.04, 29.99),
 (20, datetime.date(2020, 10, 20), 'success', 53.76, 22.94, 18.74)]

In [66]:
%%sql
with cte as (
    select
        date_format(request_date, '%Y-%m') as request_mnth
        ,distance_to_travel / monetary_cost as dist_to_cost
        ,avg(distance_to_travel / monetary_cost) over (partition by extract(year_month from request_date)) as monthly_dist_to_cost
    from uber_request_logs
    )
select
    request_mnth
    ,avg(abs(monthly_dist_to_cost - dist_to_cost))
from cte
group by request_mnth

 * mysql+pymysql://github:***@localhost/stratascratch
10 rows affected.

[('2020-01', 3.322134089697947),
 ('2020-02', 1.580260588554704),
 ('2020-03', 3.1272824684064124),
 ('2020-04', 1.1893216266731585),
 ('2020-05', 6.437192059522662),
 ('2020-06', 4.9706202413760785),
 ('2020-07', 2.0239845909045378),
 ('2020-08', 11.61336268573678),
 ('2020-09', 1.8211197845330733),
 ('2020-10', 0.4630132660808075)]

## DISTINCT SALARIES
Find the top three distinct salaries for each department. Output the department name and the top 3 distinct salaries by each department. Order your results alphabetically by department and then by highest salary to lowest.

In [68]:
res = requests.get(
    url="https://api.stratascratch.com/table-previews/twitter_employee/?code_type=3"
    ,headers=headers
)
res.status_code

200

In [73]:
data = [(x[0], x[6], x[7]) for x in res.json()['data']]
data[:5]

[(1, 'Management', 200000),
 (13, 'Management', 150000),
 (19, 'Management', 100000),
 (11, 'Management', 250000),
 (10, 'Sales', 100000)]

In [81]:
table_name = 'twitter_employee'
with connect(**config) as conn:
    if conn.is_connected():
        print(f"{config['database']!r} is connected")

    with conn.cursor() as cur:
        cur.execute(f'drop table if exists {table_name};')

        # create table
        cur.execute(
            f"create table {table_name} ("
            "   id int not null,"
            "   department varchar(15) not null,"
            "   salary int not null"
            ");"
        )

        cur.executemany(f'insert into {table_name} values (%s, %s, %s)', data)

        cur.execute(f'select * from {table_name} limit 5;')
        print(*cur.fetchall())

    conn.commit()

'stratascratch' is connected
(1, 'Management', 200000) (13, 'Management', 150000) (19, 'Management', 100000) (11, 'Management', 250000) (10, 'Sales', 100000)

In [85]:
%%sql
select
    distinct department
    ,salary
from (
    select
        department
        ,salary
        ,dense_rank() over (partition by department order by salary desc) as ranking
    from twitter_employee
    ) salary_ranking
where ranking < 4
order by
    department
    ,salary desc;

 * mysql+pymysql://github:***@localhost/stratascratch
9 rows affected.

[('Audit', 110000),
 ('Audit', 100000),
 ('Audit', 70000),
 ('Management', 250000),
 ('Management', 200000),
 ('Management', 150000),
 ('Sales', 220000),
 ('Sales', 200000),
 ('Sales', 150000)]